# Copyright 2024-2025 NXP
# SPDX-License-Identifier: BSD-3-Clause

# The purpose of this file is to redefine default values of configurations used when building Matter applications.
# This file only changes defaults, so all symbols here must be promptless.
# This file is common to RT1060, RT1170, RW61X families.

if CHIP_NXP_PLATFORM_RW61X || CHIP_NXP_PLATFORM_RT1170 || CHIP_NXP_PLATFORM_RT1060

rsource "*/Kconfig.defconfig"

# Add SDK dependencies required for RT platforms
config CHIP_SDK_DEPENDENCIES
	select MCUX_COMPONENT_utility.debug_console_lite
	select MCUX_COMPONENT_middleware.wireless.framework.factory_data_provider if CHIP_FACTORY_DATA
	select MCUX_COMPONENT_middleware.wireless.framework.ota_support if CHIP_OTA_REQUESTOR
	select MCUX_COMPONENT_middleware.lwip
	select MCUX_COMPONENT_component.lpspi_adapter if OT_NXP_SPINEL_INTERFACE_LINK="spi"
	select MCUX_COMPONENT_middleware.wireless.framework.platform.hdlc if OT_NXP_SPINEL_INTERFACE_LINK="hci_spinel_single_uart" || OT_NXP_SPINEL_INTERFACE_LINK="hdlc"
	select MCUX_COMPONENT_middleware.wifi.osa_free_rtos
	select MCUX_COMPONENT_component.wifi_bt_module.config
	select MCUX_COMPONENT_middleware.mbedtls
	select MCUX_COMPONENT_component.button if CHIP_APP_BUTTON

config CHIP_SDK_DEPENDENCIES_ETHERNET
	bool "SDK ethernet dependencies"
    select MCUX_COMPONENT_driver.enet if CHIP_ETHERNET
	select MCUX_COMPONENT_middleware.lwip.kinetis_ethernetif if CHIP_ETHERNET
	select MCUX_COMPONENT_component.silicon_id if CHIP_ETHERNET

if MCUX_COMPONENT_middleware.wireless.framework.ota_support
choice MCUX_COMPONENT_middleware.wireless.framework.ota_support.flash_selection
	default MCUX_COMPONENT_middleware.wireless.framework.ota_support.external_flash
endchoice
endif # MCUX_COMPONENT_middleware.wireless.framework.ota_support

config SERIAL_MANAGER_NON_BLOCKING_MODE
	default y

config BUTTON_SHORT_PRESS_THRESHOLD
	default "500U"

config BUTTON_LONG_PRESS_THRESHOLD
	default "2000U"

config SERIAL_MANAGER_TASK_STACK_SIZE
	default "4048U"

config SERIAL_MANAGER_TASK_HANDLE_RX_AVAILABLE_NOTIFY
	bool
	default y

config SERIAL_MANAGER_RING_BUFFER_FLOWCONTROL
	bool
	default y

config gMainThreadStackSize_c
	default 4096

config FSL_OSA_ALLOCATED_HEAP
	default n

config FSL_OSA_MAIN_FUNC_ENABLE
	default n

# FreeRTOS defaults
config configTICK_RATE_HZ
	default 1000

config configMAX_PRIORITIES
	default 10

config configRUN_FREERTOS_SECURE_ONLY
	default y

config configTIMER_QUEUE_LENGTH
	default 10

config configUSE_IDLE_HOOK
	default y

config configAPPLICATION_ALLOCATED_HEAP
	default y

config configCHECK_FOR_STACK_OVERFLOW
	default y

config configTIMER_TASK_PRIORITY
	default "(configMAX_PRIORITIES - 3)"

config configTOTAL_HEAP_SIZE
	default 174080 if CHIP_WIFI && NET_L2_OPENTHREAD
	default 129024

config configMINIMAL_STACK_SIZE
	default 2048

# This Kconfig requires quotes "" due to its definition as a string
config configTIMER_TASK_STACK_DEPTH
	default "2048"

config configRECORD_STACK_HIGH_ADDRESS
	default y

config configINCLUDE_FREERTOS_TASK_C_ADDITIONS_H
	default y

config configUSE_TICK_HOOK
	default y if CHIP_WIFI

config configENABLE_FPU
	default y

config configMAX_TASK_NAME_LEN
	default 16

config configSUPPORT_STATIC_ALLOCATION
	default y

config configNUM_THREAD_LOCAL_STORAGE_POINTERS
	default 0

config configSTACK_DEPTH_TYPE
	default "StackType_t"

config INCLUDE_uxTaskGetStackHighWaterMark2
	default n

config INCLUDE_xTaskGetIdleTaskHandle
	default n

config INCLUDE_eTaskGetState
	default n

config INCLUDE_xTaskGetHandle
	default n

config configKERNEL_PROVIDED_STATIC_MEMORY
	default y

# BLE defaults
if BT 

# Use debug console lite / assert lite in edgefast_bluetooth porting component
choice MCUX_COMPONENT_middleware.edgefast_bluetooth.porting_debug_console_selection
	default MCUX_COMPONENT_middleware.edgefast_bluetooth.porting_DEPEND_ANYOF_OPTION_2
endchoice

config BT_DEVICE_NAME_GATT_WRITABLE
	bool
	default y

config DEVICE_NAME_GATT_WRITABLE_ENCRYPT
	bool
	default y

config BT_DEVICE_NAME_DYNAMIC
	bool
	default y

config BT_MAX_CONN
	default 1

config BT_PERIPHERAL
	bool
	default y

config BT_GATT_DYNAMIC_DB
	bool
	default y

config MCUX_PRJSEG_middleware.edgefast_bluetooth.storage
	bool
	default n

config USB_DISK_ENABLE
	bool
	default n

config USB_HOST_CONFIG_MSD
	default 1

config BT_HOST_CRYPTO
	bool 
	default y

config BT_KEYS_OVERWRITE_OLDEST
	bool
	default y

config BT_BUF_ACL_RX_SIZE
	default 251

config BT_L2CAP_TX_MTU
	default 247

config USB_HOST_CONFIG_EHCI
	default 2

config CONTROLLER_ID
	default 2U

config BT_DEVICE_NAME
	default "\"NXP BLE test\""

config BT_BLE_PLATFORM_INIT_ESCAPE
	default y

endif # BT

if CHIP_WIFI

config MCUX_COMPONENT_middleware.wifi.wifidriver.softap
	bool
	default n

config MCUX_COMPONENT_middleware.wifi.net_free_rtos.iperf
	default n

endif # CHIP_WIFI

# NVS defaults
config NVS_LOOKUP_CACHE
	default y

config NVS_LOOKUP_CACHE_SIZE
	default 1024

config SETTINGS_NVS_SECTOR_SIZE_MULT
	default "(((4096U) * 2u) / (4096U))"

config SETTINGS_NVS_SECTOR_COUNT
	default "((uint32_t)NV_STORAGE_SIZE / ((4096U) * 2u))"

config MCUX_PRJSEG_middleware.fatfs.generated_config
    default n

config MCUX_COMPONENT_middleware.wireless.framework.platform.coex
	default n if MCUX_COMPONENT_component.wifi_bt_module.88W8801 || MCUX_COMPONENT_component.wifi_bt_module.IW416
	default y

if MCUX_COMPONENT_middleware.wireless.framework.platform.coex && MCUX_COMPONENT_middleware.wireless.framework.platform.imx_rt
choice MCUX_COMPONENT_middleware.wireless.framework.platform.coex.transceiver
	default MCUX_COMPONENT_middleware.wireless.framework.platform.coex.k32w0 if MCUX_COMPONENT_component.wifi_bt_module.K32W061_transceiver
	default MCUX_COMPONENT_middleware.wireless.framework.platform.coex.iw612 if MCUX_COMPONENT_component.wifi_bt_module.IW61X
endchoice
endif # MCUX_COMPONENT_middleware.wireless.framework.platform.coex && MCUX_COMPONENT_middleware.wireless.framework.platform.imx_rt

#IW416 transceiver module type
if MCUX_COMPONENT_component.wifi_bt_module.IW416
choice IW416_MDOULE
	default MCUX_COMPONENT_component.wifi_bt_module.board_aw_am510_usd
endchoice
endif

#8801 transceiver module type
if MCUX_COMPONENT_component.wifi_bt_module.88W8801
choice 88W8801_MODULE
	default MCUX_COMPONENT_component.wifi_bt_module.board_murata_2ds_usd
endchoice # 88W8801_MODULE
endif

config OT_NXP_SPINEL_INTERFACE_LINK
	default "hci_spinel_single_uart" if MCUX_COMPONENT_component.wifi_bt_module.K32W061_transceiver

endif # CHIP_NXP_PLATFORM_RW61X || CHIP_NXP_PLATFORM_RT1170 || CHIP_NXP_PLATFORM_RT1060
