# Copyright 2024-2025 NXP
# SPDX-License-Identifier: BSD-3-Clause

# The purpose of this file is to redefine default values of configurations used when building Matter applications.
# This file only changes defaults, so all symbols here must be promptless.

if CHIP_NXP_PLATFORM_RW61X

# Add SDK dependencies required for RW61x
config CHIP_SDK_DEPENDENCIES
    select MCUX_COMPONENT_driver.conn_fwloader
    imply MCUX_COMPONENT_component.mflash_offchip
    select MCUX_COMPONENT_middleware.freertos-kernel.cm33_non_trustzone
    select MCUX_COMPONENT_middleware.mbedtls.els_pkc.config
    select MCUX_COMPONENT_middleware.wifi.imu if CHIP_WIFI

# SDK defaults

choice MCUX_DEPENDENCY_COMPONENT_component.serial_manager_uart_DEPEND_COMPONENT_driver.selection
	default MCUX_DEPENDENCY_COMPONENT_component.serial_manager_uart_DEPEND_COMPONENT_driver.flexcomm_usart
endchoice

choice MCUX_COMPONENT_middleware.mbedtls.port.selection
	default MCUX_COMPONENT_middleware.mbedtls.port.els_pkc
endchoice

choice MCUX_COMPONENT_middleware.wifi.wifidriver.selection
	default MCUX_DEPENDENCY_COMPONENT_middleware.wifi.wifidriver_DEPEND_ANYOF_OPTION_2
endchoice

choice MCUX_DEPENDENCY_COMPONENT_component.timer_manager_DEPEND_component.timer.selection
	default MCUX_DEPENDENCY_COMPONENT_component.timer_manager_DEPEND_component.timer_manager_mrt
endchoice

# FreeRTOS
choice MCUX_MISC_middleware.freertos-kernel.dynamic_allocator.selection
	default MCUX_COMPONENT_middleware.freertos-kernel.heap_4
endchoice

config MCUX_COMPONENT_middleware.freertos-kernel.cm33_non_trustzone
    bool
    default y

# Monolithic configs
config MCUX_COMPONENT_driver.conn_fwloader.monolithic
	default y

config MONOLITHIC_WIFI
	default y if CHIP_WIFI

config MONOLITHIC_BLE
	default y if !NET_L2_OPENTHREAD

config MONOLITHIC_BLE_15_4
	default y if NET_L2_OPENTHREAD

# Framework defaults
config gPlatformMonolithicApp_d
	bool
	default y

if CHIP_WIFI

config WIFI_BOARD_RW610
	bool
	default y
	help
		No prefix in generated macro

endif

endif # CHIP_NXP_PLATFORM_RW61X