# Copyright 2024-2025 NXP
# SPDX-License-Identifier: BSD-3-Clause

# The purpose of this file is to redefine default values of configurations used when building Matter applications.
# This file only changes defaults, so all symbols here must be promptless.

if CHIP_NXP_PLATFORM_RT1170

config CHIP_SDK_DEPENDENCIES
	select MCUX_COMPONENT_driver.lpuart_edma
	select MCUX_COMPONENT_component.igpio_adapter

# SDK defaults
# Wifi
choice MCUX_COMPONENT_middleware.wifi.wifidriver.selection
	default MCUX_DEPENDENCY_COMPONENT_middleware.wifi.wifidriver_DEPEND_ANYOF_OPTION_1
endchoice

# sdmmc
choice MCUX_COMPONENT_middleware.sdmmc.host.usdhc.selection
	default MCUX_COMPONENT_middleware.sdmmc.host.usdhc.non_blocking
endchoice

# FreeRTOS
choice MCUX_MISC_middleware.freertos-kernel.dynamic_allocator.selection
	default MCUX_COMPONENT_middleware.freertos-kernel.heap_4
endchoice

#IW612 transceiver module type
if MCUX_COMPONENT_component.wifi_bt_module.IW61X
choice IW61X_MDOULE
	default MCUX_COMPONENT_component.wifi_bt_module.board_murata_2el_usd
endchoice
endif

endif # CHIP_NXP_PLATFORM_RT1170
