# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

# The purpose of this file is to redefine default values of configurations used when building Matter applications.
# This file only changes defaults, so all symbols here must be promptless.
# This file is common to all NXP platforms.

rsource "*/Kconfig.defconfig"

# Here we disable default board files provided by SDK
# in order to use app customized board files
config MCUX_PRJSEG_module.board.use_board_clock
    bool
    default n

config MCUX_HAS_PRJSEG_module.board.pinmux_sel
    bool
    default n

choice MCUX_PRJSEG_module.board.pinmux_sel
    default MCUX_PRJSEG_module.board.pinmux_customize_folder
endchoice

config MCUX_HAS_PRJSEG_project.use_hw_app
    bool
    default n

choice MCUX_PRJSEG_project.hw_app_sel
    default MCUX_PRJSEG_project.hw_app_customize_folder
endchoice