# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

# The purpose of this file is to define new default values of settings used when building Matter samples.
# This file only changes defaults and thus all symbols here must be promptless
# and safeguarded so that they only are applied when building Matter.

if CHIP_NXP_PLATFORM_K32W1 || CHIP_NXP_PLATFORM_MCXW71 || CHIP_NXP_PLATFORM_MCXW72

config CHIP_SDK_DEPENDENCIES
    select CHIP_SDK_DEPENDENCIES_BLE_HOST if BT
    select MCUX_COMPONENT_component.button
    select MCUX_COMPONENT_component.flash_nor_lpspi
    select MCUX_COMPONENT_component.led
    select MCUX_COMPONENT_component.lptmr_adapter
    select MCUX_COMPONENT_component.lptmr_time_stamp_adapter
    select MCUX_COMPONENT_component.messaging
    select MCUX_COMPONENT_component.mflash_onchip
    select MCUX_COMPONENT_component.panic
    select MCUX_COMPONENT_component.power_manager_framework
    select MCUX_COMPONENT_component.reset_adapter
    select MCUX_COMPONENT_utility.assert
    select MCUX_COMPONENT_utility.debug_console
    select MCUX_COMPONENT_middleware.freertos-kernel.cm33_non_trustzone
    select MCUX_COMPONENT_middleware.wireless.framework.module_info
    select MCUX_COMPONENT_middleware.wireless.framework.seclib
    select MCUX_COMPONENT_middleware.wireless.framework.lowpower
    select MCUX_COMPONENT_middleware.wireless.ieee_802_15_4
    select MCUX_COMPONENT_middleware.mbedtls.port.sssapi_option

if NET_L2_OPENTHREAD

config MCUX_COMPONENT_middleware.wireless.framework.platform.ot
    default y

endif # NET_L2_OPENTHREAD

# SDK defaults

# Board config
config MCUX_PRJSEG_module.board.use_board_clock
    default n

choice MCUX_PRJSEG_module.board.clock_sel
    default MCUX_PRJSEG_module.board.clock_customize_folder
endchoice

config gMainThreadStackSize_c
	default 3096

# Button     
config BUTTON_SHORT_PRESS_THRESHOLD
    default "1500U"
        
config BUTTON_LONG_PRESS_THRESHOLD
    default "2500U"

# Debug console
config MCUX_PRJSEG_utility.debug_console_transfer_non_blocking
    default y

# FreeRTOS
config MCUX_PRJSEG_middleware.freertos-kernel.generated_config
    default n

# Framework defaults

config NVS_LOOKUP_CACHE
	default y

config NVS_LOOKUP_CACHE_SIZE
	default 1024

choice MCUX_COMPONENT_component.mem_manager_selection
    default MCUX_COMPONENT_component.mem_manager_light
endchoice

choice MCUX_DEPENDENCY_COMPONENT_utilityt.debug_console_selection
    default MCUX_DEPENDENCY_COMPONENT_utilityt.debug_console_free_rtos
endchoice

config MCUX_COMPONENT_middleware.wireless.controller_api
    default y

if MCUX_COMPONENT_middleware.wireless.framework.zephyr_port.nvs
choice MCUX_COMPONENT_middleware.wireless.framework.zephyr_port.nvs.flash_selection
    default MCUX_COMPONENT_middleware.wireless.framework.zephyr_port.nvs.internal_flash
endchoice
endif

choice MCUX_COMPONENT_middleware.wireless.framework.seclib_port
    prompt "SecLib port selection"
    default MCUX_COMPONENT_middleware.wireless.framework.seclib_port.secure_subsystem
endchoice

config MCUX_COMPONENT_middleware.wireless.framework.heap_mem_manager
    default y

config MCUX_COMPONENT_middleware.wireless.framework.platform.ble
    default y

choice MCUX_COMPONENT_middleware.wireless.ieee_802_15_4.options
    default MCUX_COMPONENT_middleware.wireless.ieee_802_15_4.split_PHY
endchoice

endif # if CHIP_NXP_PLATFORM_K32W1 || CHIP_NXP_PLATFORM_MCXW71 || CHIP_NXP_PLATFORM_MCXW72
